# resultados de la compilación
lib/
samples/01_ventana/01_ventana
samples/02_alta_cliente/02_alta_cliente
samples/03_menu_lista/03_menu_lista
tests/coord_test
tests/texto_test
tests/cierre_cancelado
tests/formulario
tests/mensajes
tests/xclose
tests/xkey
tests/.logs/

# temporales de hbmk2 y gcc
*.o
*.obj
*.a
*.hbl
hbmk_*.dir/
